


.signUp{
width: 100%;
}

.logininput{
display: flex;
flex-direction: column;
gap: 1rem;
}

.logininput a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.logininput input {
    border-radius:1rem;
    padding: 1rem;
    background-color: rgb(238, 229, 219);
    border: none;
}

#savebutton{
    background-color: #54BD95 ;
    border: none;
    color: rgb(238, 229, 219);
    font-size: 1rem;
    width: 10rem;  
}